@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');


.story {
  width: 15rem;
  margin: 5px;
  border: none;
  background-color: #EEEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 35px;
}

.historical-event {
  margin: 8px;
  margin-bottom: 70px;
  font-family: 'El Messiri', sans-serif;

}
.year {
  font-family: 'El Messiri', sans-serif;

}

.add {
  position: absolute;
  bottom: 10px;
  height: 30px;
  right: 15px;
  cursor: pointer;
}
.add:active {
  transform: scale(.8);
}

.collection-title {
  font-size: 1.8rem;
}

.delete {
    position: absolute;
    bottom: 10px;
    height: 30px;
    right: 15px;
    cursor: pointer;
}
.delete:active {
  transform: scale(.8);
}