@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
.keyword-form {
  display: flex;
  justify-content: center;
}

.input {
  width: 18.2rem;
  height: 1.8rem;
  border-right: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-top: 5px;
}
.submit {
  height: 2.1rem;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5px;
  border: none;
}

.collection {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  position: absolute;
  border: none;
  cursor: pointer;
  right: 0px;
  width: 7rem;
  height: 1.8rem;
  font-size: .95rem;
}
