@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
.keyword-form {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.input {
  width: 18.2rem;
  height: 1.8rem;
  border-right: none;
  font-family: 'El Messiri', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 45px;
  margin-top: 10px;
  border: 3px solid black;
}
input:focus {
  outline: none;
}
.submit {
  height: 2.2rem;
  background-color: black;
  color: white;
  font-family: 'El Messiri', sans-serif;
  margin-top: 10px;
  border: none;  
  cursor: pointer;
}

.collection {
  background-color: black;
  font-family: 'El Messiri', sans-serif;
  color: white;
  position: absolute;
  border: none;
  cursor: pointer;
  right: 0px;
  width: 7rem;
  height: 1.8rem;
  font-size: .95rem;
}

.collection:active {
  background-color: black;
  font-family: 'El Messiri', sans-serif;
  color: aqua;
  position: absolute;
  border: none;
  cursor: pointer;
  right: 0px;
  width: 7rem;
  height: 1.8rem;
  font-size: .95rem;
}
